include ../../layouts/components.pug
.col.s3.kb-property
  h5 模板属性
  form.property-block.property-content
  h5 本体属性
  .property-block
    .center-align.add-prop-wrap
      +btn('关联本体')(class='add-prop-btn')
