- const options=htmlWebpackPlugin.options;
doctype html
html(lang="zh-CNM-Hans")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width,initial-scale=1")
    meta(name="referrer",content="no-referrer")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="renderer",content="webkit")
    title JINTONG SOFT
  body
    #app
    script(th:inline="javascript").
      window.__INITIAL_STATE__={
        passport:{
          authorities:!{options.authorities},
          loginType: '',
          timeout: 0
        }
      };
