{
    "plugins": [
        "add-module-exports",
        "lodash", [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ]
    ],
    "presets": [
        "es2015-ie",
        "react",
        "stage-0"
    ]
}