extends ./main.pug
block style
  link(href='${ctx}/module/wangEditor/css/wangEditor.min.css', rel='stylesheet', type='text/css')

block mainbody
  .x_panel
    .x_content
      form.form-horizontal.cloud-search-area
        .form-group
          label.cloud-input-title= wordName
          .cloud-input-content
            input#keyword.form-control.input-sm(type="text",autofocus)
        if source
          +cSource
        +cUploadBtngroup
        +cPageChange
      table#key-table.table.fixed-table

block modal
  +cUploadModal("${ctx}/uploadFile/knowledge/"+downloadHref+"__template.xlsx",downloadHref+"__template.xlsx")
  #edit-modal.modal.fade(data-backdrop="false")
    .modal-dialog.modal-sm
       .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title
          | 编辑
          = wordName
        .modal-body
          form#edit-modal-content
        .modal-footer
          button#edit-submit.btn.btn-success(type="button") 保存
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
  #add-modal.modal.fade(data-backdrop="false")
    .modal-dialog.modal-sm
       .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title
          | 添加
          = wordName
        .modal-body
          form#add-modal-content
            input#add-word.form-control.input-sm(maxlength="50")
        .modal-footer
          button#add-submit.btn.btn-success(type="button") 保存
          button.btn.btn-default(type="button",data-dismiss="modal") 取消


