extends {{layout}}

block variable
  - const href="{{href}}"
  - const title="{{title}}"

prepend script
  +mDataTables

block mainbody
  .x_panel
    .x_content
      form.form-horizontal.cloud-search-area
        .form-group
          button#search-btn.btn.btn-primary.btn-sm(type='button') 查询
          #delete{{
          button#delete-btn.btn.btn-danger.btn-sm(type='button') 删除
          }}delete#
        +cPageChange
      table#table.table.fixed-table