form.clearfix
  .input-field.col.s12
    input(name='name',placeholder='请输入标签名',value=name||'')
  .input-field.col.s12
    textarea.materialize-textarea(name='introduction',placeholder='请输入标签简介',value=introduction||'')
