extends /layout/main.pug

block variable
  - const href="spss/staffService/index";

block script
  script.
    //- var selectData = ${classifys};

block mainbody
  -
    var infoData=[{
        nameT:'消息数',
        nameB1:'人工客服',
        nameB2:'智能客服'
      },{
        nameT:'机器人解决率',
        nameB1:'会话数',
        nameB2:'转人工数'
      },{
        nameT:'平均满意率',
        nameB1:'参评数',
        nameB2:'参评率 '
      },{
        nameT:'应答匹配率',
        nameB1:'有答案',
        nameB2:'无答案'
      }];
  .spss-time-container
    .date-range-picker
    .spss-main
      section
        form.form-horizontal.cloud-search-area
          .form-group
            label.cloud-input-title 服务情况统计
            .cloud-input-content.tip-wrap
              i#service-tip.tip.fa.fa-question-circle
          .excel
            button#export(type="button").btn.btn-primary.btn-sm 导出为excel
        .table-wrap
          table#service-table.table
      section
        form.form-horizontal.cloud-search-area
          .form-group
            label.cloud-input-title 数据详情
            .cloud-input-content.big-select
              select#service-select.form-control.input-sm
          .form-group
            .cloud-input-content.big-select
              select#data-select.form-control.input-sm
                option(value="0") 消息数
                option(value="1") 会话数
                option(value="2") 在线时长
                option(value="3") 平均满意率
        .chart-wrap
          #chart.chart

