@menu-title-height: 48px;
.SpinWrapper {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.Layout {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.Header {
    padding:0 16px !important;
    background-color: #1F90E6;
    color: #fff;
    display: flex;
    align-items: center;
    .Logo {
        flex: 1;
        line-height: 64px;
        height: 64px;
    }
    img {
        cursor: pointer;
        flex: none;
        width: 25px;
        height: auto;
    }
    .Title {
        font-size: 24px;
        padding-right: 12px;
    }
}



// .Menu {
//     overflow-y: auto;
//     overflow-x: hidden;
//     position: absolute;
//     top: (@menu-title-height+1px);
//     bottom: 0;
// }
.MenuTitle {
    font-weight: bold;
    background-color: transparent;
    height: @menu-title-height;
    line-height: @menu-title-height;
    border-bottom: 1px solid #eee;
}

.Slogan {
    font-size: 14px;
    padding-left: 16px;
    border-left: 1px solid #fff;
}

.Container {
    position: relative;
    flex-flow:row nowrap;
    overflow: hidden;
}

.Main {
    position: relative;
    flex-flow: column nowrap;
    .Content {
        position: relative;
    }
    .Footer {
        flex:0 0 auto;
        padding: 0!important;
    }
}

.Sider {
    background-color: transparent;
    border-left: 1px solid #ddd;
    position: relative;
    z-index:999;
    flex: 0 0 265px;
    width: 265px;
    background:#f2f2f2;
    .SidebarToggler{
        display:none;
        position: absolute;
        left:-29px;
        top:30%;
        width:30px;
        height:60px;
        margin-top:-30px;
        border:1px solid #ddd;
        border-right:none;
        background:#f5f5f5;
        border-radius:10px 0 0 10px;
        i{
            line-height:60px;
            font-size:24px;
        }
    }
    
}

.SpinContainer {
    text-align: center;
    padding: 10px 0;
}

// :global(.ant-menu-submenu-inline)>:global(.ant-menu-submenu-title):after {
//     content: none;
// }
:global(.ant-menu-inline) :global(.ant-menu-item):after {
    content: none;
}

:global(.ant-menu) {
    background-color: transparent !important;
}

:global(.ant-menu-inline) :global(.ant-menu-submenu-title) {
    font-weight: bold;
    border-bottom: 1px dashed transparent;
    &[aria-expanded=true] {
        border-color: #eee;
    }
}

.PreviewContainer {
    word-break: break-all;
}

.PreviewHeader {
    text-align: right;
}

.PreviewCloseBtn {
    width: 21px;
    height: 21px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

:global(.mobile) {
    .Footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

:global(.ant-tabs-nav-container) {
    height: 36px!important;
}

.SiderImg {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.SiderTitle {
    font-weight: bold;
}

.Tabs {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow-y: auto;
}


@media (max-width:768px) {

    .Header {
        line-height: 48px;
        height: 48px;
        .Logo {
            line-height: 48px;
            height: 48px;
            .Title {
                font-size: 18px;
            }
        }
    }

    .Sider{
        flex:none;
        position: absolute;
        top:0;
        bottom:0;
        right:1px;
        transform: translateX(100%);
        transition: all .2s;
        &.show{
            transform: translateX(0);
        }
        .SidebarToggler{
            display:block;
        }
    }

}