{
    "plugins": [
        "lodash",
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ]
    ],
    "presets": [
        "react",
        "es2015"
    ]
}
