mixin resourceModal(text,type)
  -const modalType=type+'-modal';
  .modal.fade.resource-modal(id=modalType,data-backdrop="false")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title= '选择'+text
        .modal-body
          form.form-horizontal.cloud-search-area
            .clearfix
              .form-group.col-md-7.col-sm-7.col-lg-7
                .input-group
                  input.keyword.form-control.input-sm(type='text', placeholder='请输入关键词搜索')
                  span.input-group-btn
                    button.search.btn.btn-default.btn-sm(type='button')
                      span.glyphicon.glyphicon-search
              //- button.upload.btn.btn-primary.btn-sm(type='button')= '上传'+text
          .resource-content
            block
        .modal-footer
          span.count-number
          button.sure.btn.btn-primary(type='button') 确定
          button.btn.btn-default(type='button', data-dismiss='modal') 取消



each type,index in types
  +resourceModal(type.text,type.name)
    if type.name==='image'||type.name==='video'||type.name==='news'||type.name==='attach'
      .resource-image-list.row
    else
      table.row.table.fixed-table(class=type.name+'-table')
